<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>960207045268-fmg5a82e529gaejblvogf4dpbfcbifsa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.960207045268-fmg5a82e529gaejblvogf4dpbfcbifsa</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>960207045268-itqd5bb40mii7r04i5h64u9htlphqe87.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAfUf4g_RF33cDLgWhJ_eaO7eirzhevKPI</string>
	<key>GCM_SENDER_ID</key>
	<string>960207045268</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.deadasss</string>
	<key>PROJECT_ID</key>
	<string>deadasss-5dc60</string>
	<key>STORAGE_BUCKET</key>
	<string>deadasss-5dc60.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:960207045268:ios:c721517fa0681fa0da6a81</string>
</dict>
</plist>